[Unit]
Description=Hello server
Documentation=https://github.com/t-katsumura/golang-packaging
Wants=network-online.target
After=network-online.target

[Service]
Restart=always
Environment=DEPLOY_MODE=deb
EnvironmentFile=/etc/default/hello
WorkingDirectory=/var/lib/hello
PIDFile=/run/hello.pid
ExecStartPre=/usr/bin/rm -f /run/hello.pid
ExecStart=/usr/bin/hello $EXTRA_ARGS
ExecReload=/usr/bin/env kill -HUP $MAINPID
TimeoutStopSec=60s

[Install]
WantedBy=multi-user.target
